html,body{
  margin:0;
  background-image: url(http://orig08.deviantart.net/85ef/f/2014/345/1/4/interstellar_blackhole_2_wallpaper__2560_x_1080__by_abathedude-d89gs3w.png);
  background-repeat:no-repeat;
    background-color:black;
}
a{
  text-decoration: none
}
a p:hover {
    color: blue;
    text-decoration: none
}
a img:hover{
  color:blue;
  width:100px;
  height:100px
}

body{
  background-color: black
  display:flex;
  flex-direction:column;
  justify-content: center;
}
p{
  color:white;
}
.navbar{
  height:100px;
  width:100%;
  background-color: rgba(255,255,255,.9);
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  position:fixed;


}
body .navbar p{
  font-family:garamond,serif;
  font-size:80px;
  color:#ff0000;
  padding-right:600px;
  padding-left:50px;
}
a{
  text-decoration: none
}
a p:hover {
    color: blue;
    text-decoration: none
}
a img:hover{
  color:blue;
  width:100px;
  height:100px
}



.footer{
  background-color:rgba(255,255,255,.2);
  height:50px;
  bottom:0px;
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
  font-size:12px;
  font-family:garamond;serif;
}
.footer p{
  padding:10px

}
.body{
  padding-top: 150px;
  width:100%;
  height:930px;


}
.body p{
  font-family:garamond,serif;
  font-size:20px;
  padding-left:125px;
  width:45%;
  align-items: center;
}
.body p:nth-child(1){
  width:800px;
  border-radius: 50%;
  padding:80px;
  padding-top: -20px;
  padding-bottom: -20px;

  background-color:rgba(0,0,0,.3)
}
.body p:nth-child(2){
  width:500px;
  border-radius: 50%;
  padding:80px;
  padding-top: -20px;
  padding-bottom: -20px;
  float:right;
  background-color:rgba(0,0,0,.3)
}
.body p:nth-child(3){
  width:800px;
  border-radius: 50%;
  padding:80px;
  padding-top: -20px;
  padding-bottom: -20px;

  background-color:rgba(0,0,0,.3)
}
h1{
  padding:50px;
  padding-top: 75px;
  padding-left: 75px;
  padding-bottom: 250px;
  font-size: 150px;
  color:white;
  font-family:garamond,serif;

}
h1:hover{
  color:red;
}

.body div:nth-child(3){
  padding:100px;
  padding-top:200px;
  float:left;
}
span{
  color:red
}
span:hover{
  color:rgba(0,0,0,0)
}
